* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 30px;
}

.main-header {
    background-image: linear-gradient(to right, #e9492a, #e72357);
    height: 35vh;
    position: relative;
}

.lines {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 180px;
}

.cloud {
    position: absolute;
    top: 80px;
    left: 600px;
    width: 50px;
}

.setas {
    position: absolute;
    top: 5px;
    left: 600px;
    width: 70px;
}

.triangle {
    position: absolute;
    right: 20px;
    width: 35px;
}

.wave {
    position: absolute;
    right: 50px;
    bottom: 0;
    width: 120px;
}

.dots {
    position: absolute;
    bottom: 0;
    left: 480px;
    width: 60px;
}

.header-title-container {
    display: flex;
    justify-content: space-between;
}

.header-title {
    white-space: pre-line;
    font-size: 60px;
    font-weight: bold;
    color: #eee;
    padding-top: 25px;
    padding-left: 50px;
    cursor: pointer;
}

.header-content {
    white-space: pre-line;
    font-size: 20px;
    color: white;
    text-align: right;
    padding-top: 25px;
    padding-right: 50px;
}

.content-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    width: 92%;
    margin: auto;
}

.notice:first-child {
    grid-column: 1 / 3;
}

.notice-title {
    font-size: 30px;
    font-weight: bold;
    padding-top: 15px;
    cursor: pointer;
}

.notice-text {
    color: #74787a;
    margin-top: 10px;
}

.notice-font {
    padding-top: 15px;
    color: #b2b2b2;
    font-style: italic;
}

.notice-font span {
    cursor: pointer;
}

.line-gradient-primary {
    width: 45%;
    height: 1%;
    margin-top: 15px;
    background-image: linear-gradient(to right, #e5255a, #b34b7d, #6c5ba3);
    border-radius: 8px;
}

.line-gradient-secondary {
    width: 50%;
    height: 1%;
    margin-top: 15px;
    background-image: linear-gradient(to right, #76c6cf, #6b95c0, #675fa6);
    border-radius: 8px;
}

.line-gradient-tertiary {
    width: 50%;
    height: 1%;
    margin-top: 15px;
    background-image: linear-gradient(to right, #75c7cf, #5dbdad, #38b389);
    border-radius: 8px;
}

.notice {
    margin-top: 60px;
}

.notice img {
    cursor: pointer;
}

.minor-notice-image {
    width: 560px;
}

.main-notice-image {
    width: 100%;
}

.main-footer {
    background-color: #fc4c02;
    height: 35vh;
    display: flex;
    margin-top: 50px;
}

.main-footer p {
    margin: auto;
}

.footer-title {
    color: #eee;
    font-size: 50px;
}

.footer-text {
    color: #eee;
    font-size: 50px;
    white-space: pre-line;
    font-style: italic;
}

.footer-text span {
    font-weight: bold;
}

.barra-vertical {
    width: 2px;
    height: 50%;
    display: flex;
    flex-direction: column;
    background-color: #eee;
    margin-top: 50px;
}

.copyright-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;
}

.copyright-content {
    color: #646869;
}

.copyright-link {
    color: #646869;
}

@media(width: 320px) {
    .container {
        margin: 15px;
    }

    .lines {
        display: none;
    }
    
    .cloud {
        display: none;
    }
    
    .setas {
        display: none;
    }
    
    .triangle {
        display: none;
    }
    
    .wave {
        display: none;
    }
    
    .dots {
        display: none;
    }

    .header-title {
        font-size: 1.2rem;
        padding-left: 25px;
    }

    .header-content {
        font-size: 0.8rem;
        padding-right: 25px;
    }

    .content-container {
        column-gap: 20px;
    }

    .notice {
        margin-top: 30px;
    }

    .main-notice-image {
        width: 260px;
    }

    .notice-title {
        font-size: 0.7rem;
    }

    .notice-text {
        font-size: 0.5rem;
        margin-top: 5px;
    }

    .notice-font {
        padding-top: 7px;
        font-size: 0.5rem;
    }

    .minor-notice-image {
        width: 115px;
    }

    .notice {
        margin-top: 20px;
    }

    .main-footer {
        margin-top: 20px;
    }

    .footer-title {
        font-size: 1.2rem;
    }

    .footer-text {
        font-size: 1.2rem;
    }

    .barra-vertical {
        margin-top: 30px;
    }

    .copyright-container {
        margin: 25px;
    }

    .copyright-content {
        font-size: 0.6rem;
    }
}

@media(width: 375px) {
    .container {
        margin: 20px;
    }

    .lines {
        display: none;
    }
    
    .cloud {
        display: none;
    }
    
    .setas {
        display: none;
    }
    
    .triangle {
        display: none;
    }
    
    .wave {
        display: none;
    }
    
    .dots {
        display: none;
    }

    .header-title {
        font-size: 1.5rem;
        padding-left: 25px;
    }

    .header-content {
        font-size: 0.8rem;
        padding-right: 25px;
    }

    .content-container {
        column-gap: 20px;
    }

    .notice {
        margin-top: 30px;
    }

    .main-notice-image {
        width: 310px;
    }

    .notice-title {
        font-size: 0.9rem;
    }

    .notice-text {
        font-size: 0.7rem;
        margin-top: 5px;
    }

    .notice-font {
        padding-top: 7px;
        font-size: 0.6rem;
    }

    .minor-notice-image {
        width: 145px;
    }

    .notice {
        margin-top: 20px;
    }

    .main-footer {
        margin-top: 20px;
    }

    .footer-title {
        font-size: 1.4rem;
    }

    .footer-text {
        font-size: 1.4rem;
    }

    .barra-vertical {
        margin-top: 25px;
    }

    .copyright-container {
        margin: 25px;
    }

    .copyright-content {
        font-size: 0.6rem;
    }
}

@media(width: 425px) {
    .container {
        margin: 20px;
    }

    .lines {
        display: none;
    }
    
    .cloud {
        display: none;
    }
    
    .setas {
        display: none;
    }
    
    .triangle {
        display: none;
    }
    
    .wave {
        display: none;
    }
    
    .dots {
        display: none;
    }

    .header-title {
        font-size: 1.8rem;
        padding-left: 25px;
    }

    .header-content {
        font-size: 0.8rem;
        padding-right: 25px;
    }

    .content-container {
        column-gap: 30px;
    }

    .notice {
        margin-top: 30px;
    }

    .main-notice-image {
        width: 360px;
    }

    .notice-title {
        font-size: 1.2rem;
    }

    .notice-text {
        font-size: 0.8rem;
        margin-top: 5px;
    }

    .notice-font {
        padding-top: 7px;
        font-size: 0.7rem;
    }

    .minor-notice-image {
        width: 165px;
    }

    .notice {
        margin-top: 30px;
    }

    .main-footer {
        margin-top: 20px;
    }

    .footer-title {
        font-size: 1.6rem;
    }

    .footer-text {
        font-size: 1.6rem;
    }

    .barra-vertical {
        margin-top: 30px;
    }

    .copyright-container {
        margin: 25px;
    }

    .copyright-content {
        font-size: 0.6rem;
    }
}

@media(width: 768px) {
    .container {
        margin: 25px;
    }

    .lines {
        left: 0;
        bottom: 0;
        width: 100px;
    }
    
    .cloud {
        top: 40px;
        left: 340px;
        width: 35px;
    }
    
    .setas {
        left: 340px;
        width: 40px;
    }
    
    .triangle {
        right: 5px;
        width: 25px;
    }
    
    .wave {
        display: none;
    }
    
    .dots {
        left: 240px;
        width: 30px;
    }

    .header-title {
        font-size: 1.8rem;
        padding-left: 25px;
    }

    .header-content {
        font-size: 0.7rem;
        padding-right: 25px;
    }

    .content-container {
        column-gap: 30px;
    }

    .notice {
        margin-top: 30px;
    }

    .main-notice-image {
        width: 660px;
    }

    .notice-title {
        font-size: 1.6rem;
    }

    .notice-text {
        font-size: 0.9rem;
        margin-top: 5px;
    }

    .notice-font {
        padding-top: 7px;
        font-size: 0.8rem;
    }

    .minor-notice-image {
        width: 315px;
    }

    .notice {
        margin-top: 30px;
    }

    .main-footer {
        margin-top: 20px;
    }

    .footer-title {
        font-size: 2rem;
    }

    .footer-text {
        font-size: 2rem;
    }

    .barra-vertical {
        margin-top: 30px;
    }

    .copyright-container {
        margin: 25px;
    }

    .copyright-content {
        font-size: 0.7rem;
    }
}

@media(width: 1024px) {
    .container {
        margin: 30px;
    }

    .lines {
        left: 0;
        bottom: 0;
        width: 110px;
    }
    
    .cloud {
        top: 50px;
        left: 400px;
        width: 40px;
    }
    
    .setas {
        left: 400px;
        width: 50px;
    }
    
    .triangle {
        right: 5px;
        width: 25px;
    }
    
    .wave {
        display: none;
    }
    
    .dots {
        left: 300px;
        width: 35px;
    }

    .header-title {
        font-size: 1.9rem;
        padding-left: 25px;
    }

    .header-content {
        font-size: 0.8rem;
        padding-right: 25px;
    }

    .content-container {
        column-gap: 40px;
    }

    .notice {
        margin-top: 30px;
    }

    .main-notice-image {
        width: 890px;
    }

    .notice-title {
        font-size: 2.5rem;
    }

    .notice-text {
        font-size: 1.2rem;
        margin-top: 5px;
    }

    .notice-font {
        padding-top: 7px;
        font-size: 0.9rem;
    }

    .minor-notice-image {
        width: 425px;
    }

    .notice {
        margin-top: 30px;
    }

    .main-footer {
        margin-top: 20px;
    }

    .footer-title {
        font-size: 2.5rem;
    }

    .footer-text {
        font-size: 2.5rem;
    }

    .barra-vertical {
        margin-top: 30px;
    }

    .copyright-container {
        margin: 25px;
    }

    .copyright-content {
        font-size: 0.8rem;
    }
}